/* player dimensions */
a.flowplayer {
	display:inline;				
	border:1;
	width:70%;
	height:100%;
	margin-right:10px;

	float:left;
}
 a.flowplayer img
{
		width:100%;
		height:100%;
}


/* play button on top of splash image */
/*
div.playButton {
	background:url(../img/play.png) no-repeat;
	width:45px !important;
	height:45px;
	position:relative;
	 top:-275px;  
	left:370px;	
	margin-bottom:-50px;
	opacity:0.9;
}
*/
div.playButton:hover {
	opacity:1.0;		
}

/* items */
div.scrollable {
	margin-left:-50px;	
	width:100%;	
	height:500px;
}

div.items 
 {
	position:static;
	width:auto;	
	height:100%;
		background-color:#777;	
}
div.items div
/* inclou els de classe __scrollable */ 
{
		margin:auto auto;

	margin-right:0px;	
	float:left;
}		



div.scrollable div {		
width:80%;
background-color: #DDD;

}

div.scrollable h3 {
	margin-top:12px;
	display:inline;
	position:relative;
	left:20px;
	width:250px;		

}

div.scrollable p {

position:relative;
left:1%;
display:inline;
	color:#444;
	font-size:12px;
	margin-right:5px;
	width:25%;
	float:left;
height:430px;
	overflow-x:none;
	overflow-y:auto;
}

/* next / prev buttons */
a.prev, a.next {
	display:block;
	width:30px;
	height:30px;
	float:left;
	background-repeat:no-repeat;	
	margin-top:70px;
}

a.prev {
	background:url(../img/button-left.gif);
	margin-right:10px;
}

a.prev:hover {
	background:url(../img/button-left-over.gif);		
}

a.next {
	background:url(../img/button-right.gif);
	margin-left:10px;
}

a.next:hover {
	background:url(../img/button-right-over.gif);		
}


/* tabs */ 
ul.navi { 
	margin:20px 0 0 0 ;
	padding:0px;
	height:2.45em;
	position:relative;
	top:10px;
	left:39px;
	width:100%; 
	cursor:pointer;
}

ul.navi li {
	background:url(../img/tab-left.gif) left top no-repeat;
	padding-left:4px;
	float:left;
	margin:0;
	list-style-type:none;
}

ul.navi a {
	background:url(../img/tab-right.gif) right top no-repeat;
	padding:3px 12px;
	border-bottom:1px solid #D2D2D2;
	text-decoration:none;
	display:block;
	color:#111;
	font-size:13px;
}

ul.navi li.active a, ul.navi a:hover {
	background-position:100% -150px;
	border-bottom:2px solid #efef8f;
	background-color:#efef8f;
}

ul.navi li.active {
	background-position:0 -150px;	
}

