<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="referenceTemplate"
  xmlns="http://mapbuilder.sourceforge.net/mapbuilder"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../mapbuilder/lib/schemas/config.xsd">
  <!--
    Description: This configuration file determines what components from the
                 Mapbuilder library are to be included in a Main Mapbuilder web
                 page.			 
    Licence:     GPL as per: http://www.gnu.org/copyleft/gpl.html 
    $Id: MapPreviewAction.java 5891 2007-01-29 11:30:25Z aaime $
  -->
  <!--
    All static images should be relative to this URL.
    This dir is relative the dir of the main html file.
  -->
  <models>
    <Context id="mainMap">
      <defaultModelUrl>XMLs/world.xml</defaultModelUrl><!-- default WebMapContext file to load-->
	  <nodeSelectXpath>/wmc:ViewContext/wmc:LayerList/wmc:Layer</nodeSelectXpath>
      <widgets>
        <MapPane id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId> <!--THE ID WHERE THE MAPS WILL BE PRINTED-->
          <mapContainerId>mainMapContainer</mapContainerId>
        </MapPane>
	    <Loading2 id="loading"><!--TOOL TO SHOW WHILE DATA IS LOADING-->
		<mapContainerId>mainMapContainer</mapContainerId>
		</Loading2>
        <AoiBoxWZ id="aoiBox2"><!--Widget to draw an Area Of Interest box of a model (in this case, Context model)-->
          <htmlTagId>mainMapPane</htmlTagId>
          <stylesheet>../lib/widget/GmlRenderer.xsl</stylesheet>
          <lineColor>#FF0000</lineColor>
          <lineWidth>1</lineWidth>
          <crossSize>15</crossSize>
          <mapContainerId>mainMapContainer</mapContainerId>
        </AoiBoxWZ>
        <CursorTrack id="cursorTrack"><!--Widget to display the mouse coordinates when it is over a MapContainer widget.
 -->
          <mouseHandler>mainMap</mouseHandler>
		  <showLatLong>false</showLatLong>
		  <showXY>true</showXY>
        </CursorTrack>
        <Legend id="Legend"> </Legend><!--Functions to render and update a Legend from a Web Map Context.-->
		<!--Widget to allow control of layer ordering, visibility, deleting...-->
		<!-- As we want different legends (showing each thematic info)  to be displayed in different places (different <htmlTagId>), we must have more than one LayerControl... -->
		<!--TODO: It should be solved... as it means loading too much files-->
		<LayerControl id="altresLegend">
		  <htmlTagId>altres_legend</htmlTagId><!--where legend will be displayed in the HTML-->
		  <stylesheet>../lib/widget/altres_LC.xsl</stylesheet>
		   <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>	
		<LayerControl id="contextLegend">
		  <htmlTagId>admin_legend</htmlTagId>
		  <stylesheet>../lib/widget/admin_LC.xsl</stylesheet>
		  <outputNodeId>admin_legendCanvas</outputNodeId>
		   <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>	
		<LayerControl id="contextLegend2">  
		  <htmlTagId>utm_legend</htmlTagId>
		  <stylesheet>../lib/widget/utm_LC.xsl</stylesheet>
		  <outputNodeId>utm_legendCanvas</outputNodeId>
		   <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>		
		<LayerControl id="contextLegend3">  
		  <htmlTagId>topography_legend</htmlTagId>
		  <stylesheet>../lib/widget/topography_LC.xsl</stylesheet>
		  <outputNodeId>topography_legendCanvas</outputNodeId>
		  <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>
		<LayerControl id="contextLegend3">  
		  <htmlTagId>climate_legend</htmlTagId>
		  <stylesheet>../lib/widget/climate_LC.xsl</stylesheet>
		  <outputNodeId>climate_legendCanvas</outputNodeId>
		  <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>
		<LayerControl id="contextLegend3">  
		  <htmlTagId>landcover_legend</htmlTagId>
		  <stylesheet>../lib/widget/landcover_LC.xsl</stylesheet>
		  <outputNodeId>landcover_legendCanvas</outputNodeId>
        </LayerControl>
		<LayerControl id="contextLegend4">  
		  <htmlTagId>puntos_legend</htmlTagId>
		  <stylesheet>../lib/widget/puntos_LC.xsl</stylesheet>
		  <outputNodeId>puntos_legendCanvas</outputNodeId>
		  <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
        </LayerControl>
		<LayerControl id="contextLegend4">  
		  <htmlTagId>UTM2500_legend</htmlTagId>
		  <stylesheet>../lib/widget/Analysis_UTM2500_LC.xsl</stylesheet>
		  <outputNodeId>UTM2500_legendCanvas</outputNodeId>
		  <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>	
		<LayerControl id="contextLegend4">  
		  <htmlTagId>environ_legend</htmlTagId>
		  <stylesheet>../lib/widget/environ_LC.xsl</stylesheet>
		  <outputNodeId>environ_legendCanvas</outputNodeId>
		  <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>
		
      </widgets>
	      <tools>
	        <AoiMouseHandler id="mainAoi"/><!-- Tool which implements a click and drag behaviour to set the Area Of Interest on the model from mouse events.-->
	        <DragPanHandler id="mainDragPan"><!--Tool to click and drag a map pane to achieve a recentering of the map.
 -->
	          <enabled>false</enabled>
	        </DragPanHandler>
	        <MouseClickHandler id="mainMouseClick"/>
	        <History id="extentHistory"><!--Tool which processes mouse clicks on a widget.-->
	          <targetModel>mainMap</targetModel>
	        </History>
			<WebServiceRequest id="featureInfoController">
						<targetModel>featureInfoResponse</targetModel>
						<requestName>wms:GetFeatureInfo</requestName>
	          <infoFormat>application/vnd.ogc.gml</infoFormat>
	          <featureCount>3</featureCount>
			</WebServiceRequest>
			</tools>
	</Context>
	<WmsCapabilities id="wmsCapTemplate"><!--Stores a Web Map Server (WMS) Capabilities document as defined by the Open Geospatial Consortium-->
										<!--It will allow us to get our own WMS without loading them first inthe WMC but interactively  -->
			<defaultModelUrl>http://synthesys.csic.es:8080/geoserver/wms?request=GetCapabilities</defaultModelUrl>
			<title>OGC Web Map Server (WMS)</title>
			<widgets>		
				<Loading2 id="loading3">
					<htmlTagId>workspace</htmlTagId>
					<outputNodeId>workspaceCanvas</outputNodeId>
				</Loading2>
			</widgets>
			<tools>
				<EditContext id="editContext"><!--Tool which manipulates the Layer list of a Web Map Context document (tool used to insert our own Layers interactively)-->
					<targetModel>mainMap</targetModel>
				</EditContext>
			</tools>
			<nodeSelectXpath>//Layer</nodeSelectXpath><!--XPATH to thsi Getcapabilities.xml-->
		</WmsCapabilities>
	<WmsCapabilities id="wmsCapTemplate2"><!--We have another WmsCapabilities that manages remote WMS Layers -->
			<widgets>  
			        <Widget id="layerList">
					<stylesheet>../lib/widget/SelectMapLayers2.xsl</stylesheet><!--manipulate GetCapabilities.xml to construct HTML table-->
					<htmlTagId>workspace2</htmlTagId>
					<outputNodeId>workspace2Canvas</outputNodeId>
			       </Widget>  
					<Loading2 id="loading3">
						<htmlTagId>workspace2</htmlTagId>
						<outputNodeId>workspace2Canvas</outputNodeId>
					</Loading2>
			</widgets>
			<tools>
				<EditContext id="editContext2"><!--will manipulate remote WMS Layers-->
					<targetModel>mainMap</targetModel>
				</EditContext>
			</tools>
			<nodeSelectXpath>//Layer</nodeSelectXpath>
	</WmsCapabilities>
    <Context id="locator"><!--Locator map-->
      <defaultModelUrl>XMLs/topp_worlds.xml</defaultModelUrl>
      <widgets>
        <MapPane id="locatorWidget">
          <htmlTagId>locatorMap</htmlTagId>
          <targetModel>mainMap</targetModel>
          <mapContainerId>locatorContainer</mapContainerId>
          <fixedWidth>230</fixedWidth>
        </MapPane>
        <AoiBoxDHTML id="aoiBox2"><!--Widget to draw an Area Of Interest box of a model.-->
								  <!--Difference with AoiBoxWZ widget??-->
          <htmlTagId>locatorMap</htmlTagId>
          <stylesheet>../lib/widget/GmlRenderer.xsl</stylesheet>
          <lineColor>#FF0000</lineColor>
          <lineWidth>1</lineWidth>
          <crossSize>15</crossSize>
          <mapContainerId>locatorContainer</mapContainerId>
        </AoiBoxDHTML>
      </widgets>
      <tools>
        <AoiMouseHandler id="locatorAoi"/>
        <ZoomToAoi id="locatorZoomToAoi">
          <targetModel>mainMap</targetModel>
        </ZoomToAoi>
      </tools>
    </Context>   
	
	<Model id="featureInfoResponse" template="true"> <!-- IN FACT NOT USED...-->
      <namespace>xmlns:gml='http://www.opengis.net/gml' xmlns:wfs='http://www.opengis.net/wfs' xmlns:topp='http://www.openplans.org/topp'</namespace>
      <widgets>
        <FeatureInfo id="FeatureInfo">
		  <htmlTagId>left</htmlTagId>
		  <outputNodeId>leftCanvas</outputNodeId>
		  <stylesheet>FeatureList_edit3.xsl</stylesheet>
		  <autoRefresh>false</autoRefresh>
		  <!-- <stylesheet>FeatureList_europe</stylesheet> -->
		</FeatureInfo>
      </widgets>
     </Model>
  </models>
  <widgets>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <mouseHandler>mainAoi</mouseHandler>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.gif</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.gif</disabledSrc>
      <tooltip xml:lang="en">click and drag to zoom in</tooltip> 
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <mouseHandler>mainAoi</mouseHandler>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.gif</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.gif</disabledSrc>
      <tooltip xml:lang="en">click to zoom out</tooltip>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <mouseHandler>mainDragPan</mouseHandler>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.gif</enabledSrc>
      <disabledSrc>/images/PanDisable.gif</disabledSrc>
      <tooltip xml:lang="en">click and drag to pan</tooltip>  
    </DragPan>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.gif</disabledSrc>
      <tooltip xml:lang="en">reset the map to full extent</tooltip>  
    </Reset>	
	<SetAoi id="setAoi"><!--When this button is selected, the AOI box stays visible and no zoom happens. We will get the drawed bbox to query our database -->
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <mouseHandler>mainAoi</mouseHandler>
      <class>RadioButton</class>
      <enabledSrc>/images/SetAoiEnable.png</enabledSrc>
      <disabledSrc>/images/SetAoiDisable.png</disabledSrc>
	  <tooltip xml:lang="en">Set an area of interest to query (only point data in the Demo)</tooltip>  
    </SetAoi>
	 <GetFeatureInfo id="GetFeatureInfo">
	 <!--Implements WMS GetFeatureInfo functionality, popping up a query result window when user clicks on map-->
      <scriptFile>js_code/GetFeatureInfo_q.js</scriptFile><!--COMPLETELY modified js file -->
      <buttonBar>mainButtonBar</buttonBar>
	  <tooltip>Query tool</tooltip>
      <targetModel>mainMap</targetModel>
      <mouseHandler>mainAoi</mouseHandler>
      <class>RadioButton</class>
      <enabledSrc>/images/QueryEnable.gif</enabledSrc>
      <disabledSrc>/images/QueryDisable.gif</disabledSrc>
	  <tooltip xml:lang="en">Query tool (point data in the Demo)</tooltip>
    </GetFeatureInfo>
    <Back id="back">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/StepBack.gif</disabledSrc>
    </Back>
    <Forward id="forward">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/StepForward.gif</disabledSrc>
    </Forward>
  </widgets>
  <skinDir>../lib/skin/default</skinDir>
</MapbuilderConfig>