body {
	font-family: Verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 16px;
	margin					: 0px;
	padding					: 0px;
	height					: 100%;
	background-color		: #f0f0f0;
	bottom					: 0px;
	display: inline;
	}
table {
	font-size: 1em;
	border-spacing: 0;
	border-collapse: none;

	width: 100%;
    background-color: #f0f0f0;
	} 

.semi-transparents
{
	filter:alpha(opacity=25);-moz-opacity:.25;opacity:.25;
}
#scalebar,#mapScaletext {
width: 40%;
	padding: 1px;
}	

#locatorContainer {
     top: 1px;
         } 
#header {
	font-family: Verdana, geneva, arial, sans-serif;
	width: 99%;
  	height: 15px;
	margin-bottom: 0px;
	margin-top: 20px;
	valign: bottom;
}

#menubar  dt {
	/* background: #6699FF; */
	font-size: 12px;
	padding: 5px;
	margin: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	border: thin solid #999999;
	font-style: italic;
}
/*LINKS "add to map */
#workspace a {
color: #3d546c;
}
table.resultat {
	background-color: #FFFFFF;
	border: none;
	color: #006633;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	width: 35px;
}
table.layerControl {
	background-color: #FFFFFF;
	border: none;
	color: #495E49;
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
}
td.left {
align: top;
color: #495E49;
width: 5px;
}

table.layerControl tbody td, tbody th {
	background-color: #D6F2C3;
	padding: 3px;
}

a {
	color: blue;
	font-weight: bold;
	}
	

dl { width: 230px; }
	/*provat amb 290 i bastant bé   */
	dl,dd { margin: 0; }
.layerControl table {
	font-size: 0px;
	border-spacing: 0;
	border-collapse: collapse;
	width: 40%;
	width: 100%;
	} 
th {
	padding: 4px 6px;
}  
 .layerControl TD {
  padding: 0px;
  font: 80% Verdana, geneva, arial, sans-serif;
}

#header .left {
	 margin-top: 20px; 
	}
#header .right {
	margin-top: 20px;
	}	
#middle {
	left: 0px;
	right: 0px;
	width: 100%;
	display: inline;
	}
#menubar {
	display: block;
	position: absolute;
	left: 1px;
	top: 5px;
	bottom: 60px;
	width: 230px;
	/*provat amb 290 i bastant bé*/
	font-family: Verdana, geneva, arial, sans-serif;
	font-size: 8pt;
	bottom: 60px;
	background-color: #CCCCCC;
	height: 540;
	}
#menubar a {
	font-weight: normal;
	color: white;
	}
	
#content a {
		color: black;
		}

#menubar UL.tabNavigation {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		}
	
	#menubar ul.tabNavigation LI {
		    display: inline;
		}
	
	#menubar	UL.tabNavigation LI A {
		    padding: 3px 5px;
		    background-color: #ccc;
		    color: #000;
		    text-decoration: none;
		}
    #menubar	UL.tabNavigation LI A:focus {
			outline: 0;
		}
	#menubar	UL.tabNavigation LI A.selected,
	#menubar	UL.tabNavigation LI A:hover {
		    background-color: #aeb7c1;
		    color: #fff;
		    padding-top: 7px;
			font-weight: bold;
		}	
.metadata {
		    background-color: #b4bfca;
			border: 1px;
			margin: 2px;
			padding: 2px;
		}
.metadata  a{
		color: black;
		 font-family: Verdana, geneva, arial, sans-serif;
	    font-size: 9pt;
		}
	#admin_layers{background-color: #b4bfca;
		}

	.Layers ul {
			 background-color: #cbcfd2;
		}

	.legend {
		    background-color: #b4bfca;
		}	
#menubar ul {
  background:  #3c78b5;
  margin: 0px;
  padding: 0px;
  display: inline;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  font-size: 10px;
}

/* th= table header Cabezera tabla (ex: listado capabilities) */
th {
	background: #ddd;
	color: #666;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-left: 2px solid #dadada;
	border-top: 2px solid #dadada;
	text-align: left;
	font-weight: bold;
}

#menubar li {
	background:  #3c78b5;
	margin: 0px;
	padding: 2px;
	display: block;
	}
#menubar .Layers   li {
	background:#cbcfd2;
	margin: 1px;
	padding: 2px;
	display: block;
	}
#menubar .Layers   li  a {
   color: black;
   }

#menubar dt a:hover,a.selected
	{	
	font-weight: bold;
}	
#menubar dt:hover,.selected	
dt a {
	color:#89919a;
	
}
dd a {
	color: #000;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
}
ul {
	list-style: none;
	padding: 5px;
	background-color: #00FFCC;
}
/* Hides from IE-mac \*/
* html #mainbody {height: 1%;}
/* End hide from IE-mac */
#mainbody .left{
	position: relative;
	height: 10%;
	top: 0px;
	bottom: 0px;
	left: 2px;
	width: 30%;
	display: block;
	float: center;
	margin: 0px;
	overflow-x: auto;
	overflow: scroll;
}
#mainbody .right{
		position: relative;
		display: block;
		height: 99%;		
		width: 76%;
		margin-left: 0%;
		right: 0px;
		float: right;
		margin: 0px;
		z-index: 0;		
}
#mainMapPane { width: 640;}
#mainMapPane2 { width: 140;}
#mainMapContainer2 {
  border: 4px blue;
  cursor: crosshair;
  
}
#mainMapContainer {
  border: 1px solid olive;
  cursor: crosshair;
  z-index: 0;
}
#cursorTrack INPUT {
	border: none;
	}
 .colorwell {
     border: 2px solid #fff;
     width: 6em;
     text-align: center;
     cursor: pointer;
   }
body .colorwell-selected {
     border: 2px solid #000;
     font-weight: bold;
   }
.tabs {
  background-color: #3c78b5;
  }
   div.tabs > div {
			
			margin-top: 0px;
			border: 1px solid ;
		}
.mbButton_control
img{ 
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
-moz-opacity: 0.6;
	margin: 0px;
	border:0px;
	height: 15px;
	width: 15px;
 
}
.mbButton
img{ 
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
-moz-opacity: 0.6;
	margin: 0px;
	border:0px;
	height: 20px;
	width: 20px;
 
}

.mbButton:hover 
img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
margin: 0px;
border:0px;
}

.mbButton:active, .mbButtonSelected
img{ 
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
margin: 0px;
border:0px;
}

.mbButtonSelected:hover
img{ 
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
-moz-opacity: 0.8;
margin: 0px;
border:0px;
}
//SORTIRA EL CURSOR EN FORMA DE CREUETA
div.jqmdTR .jqmdTR{cursor: move;} 
a {cursor:pointer;}
div.jqmDialog {
    display: none;
    background-color: #e3d2fe;
    position: fixed;
    top: 17%;
    left: 80%;
    color: #528c00;
    margin-left: -200px;
    width: 330px;
   z-index: 700;  
  font-family:verdana,tahoma,helvetica;
}
*html div.jqmDialog {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
	 z-index: 700;
}



.jqmDialog a
{
	color: blue;
	font-weight: bold;
	
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}
/*
 Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead 
*/	
* html .jqmWindow {
     position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
/* [[[ Title / Top Classes ]]] */
div.jqmdTC { 
  background: #d5ff84 repeat-x 0px -82px; 
  color: #528c00;
  padding: 7px 22px 5px 5px;
  font-family:"sans serif",verdana,tahoma,helvetica;
  font-weight: bold;
  * zoom: 1;
}

input.jqmdX {
  position: absolute;
  right: 7px;
  top: 4px;
  padding: 0 0 0 19px;
  height: 19px;
  width: 0px;
  background: url(http://taxonomicindex.br.fgov.be/edit_wp5/edit_geo/prototype/JQ_win_files/close.gif) no-repeat top left;
  overflow: hidden;
}
input.jqmdXFocus {background-position: bottom left; outline: none;}
div.jqmDialog input:focus, div.jqmDialog input.iefocus { background-color: #eaffc3; }
#content th,
#content td , #workspace2 th,#workspace2 td{
  padding: 3px 6px;
  font-weight: bold;
  font-family: Arial, verdana; 
  font-size: 95%;
}
.sld_info
{
text-align: center;
background-color: #CCFF99;
margin-top: 12.1333px;
margin-bottom: 12.1333px;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
color: red;
font-weight: bold;
}

#demo
{
text-align: center;
background-color: #abd6ed;
margin-top: 6px;
margin-bottom: 12.1333px;
padding-top: 9px;
padding-right: 9px;
padding-left: 9px;
padding-bottom: 9px;
}
