body {

	font-family: Verdana, arial, sans-serif;
	font-size: 7pt;
	line-height: 11px;
	margin					: 0px;
	padding					: 0px;
	height					: 100%;
	background-color		: #f0f0f0;
	bottom					: 0px;
	display: inline;
	}
table .map_container {
	font-size: 1em;
	border-spacing: 0;
	/*border-collapse: none;
	width: 40%;  */
    position:relative;
    width:95%;
    background-color: #f110f0;
	} 
/*em A:link {color:blue;}*/
			.olControlMouseToolbar
			{
				top:200px;
			}
	#layers li
	{
	     		color:#ad1a1c,
			font-size:10,
	}
 #panel { 
	position:relative;
	width:35px;
	height:200px;
	top:20px;

          display:block;
        }
			
#upload_form
{

    float: left;
    display: block;
    width: 120px;

    margin: 3px 0 0 8px;
    padding: 3px;

}
#upload_form  table
{
    width:120px;
    border: 3px;
    color: #999;
    background-color: #009;
}

#layers li
{
 color: rgb(131, 32, 45);
 font-weight:bold;
}
#layers ul
{
 color: black;
 font-weight:normal;
}
#upload_content > hr
{
    height: 1px;
    border: none;
    color: #999;
    background-color: #999;
}
			.message
			{
			    border:4px solid #4ba037;
				opacity:.85;filter: alpha(opacity=75); -moz-opacity: 0.85;
				font-size:11px;
				background:#f0f83f;
	
				padding:5px;
			
						padding-bottom:10px;
			}




	#map
	{
	    position:absolute;
	    top:0px;
	    left:35px;
        width:800px;
        
	}
#mapScaleText {
    
    font-size:7pt;
}
#scales 
{
    width: 700px;
}

#middle
{
    position:relative;
    top:0px;
    width: 90%;
background-color		: #f0f0f0;
}
#mainbody
{
    position:absolute;
    top:0px;
    padding-left:0px;
    width: 90%;
 background-color: #f0eeee;
}
#content2 
{

}
/*
.semi-transparents
{
	filter:alpha(opacity=25);-moz-opacity:.25;opacity:.25;
}
 em {
	font-weight: normal;
	background: url(images/hover.png) no-repeat;
	width: 180px;
	height: 45px;
	position: absolute;
	top: -85px;
	left: -15px;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	z-index: 2;
	display: none;
}
*/
#locatorContainer{

     top: 1px;
         }

#header {
    position:relative;
    top:0px;
	width: 740px;
	left:240px;
  	height: 30px;
	margin-bottom: 0px;
	margin-top: 50px;
	
	z-index:100;
	opacity:.7;

}

#em1,#em2,#em3{
	font-weight: normal;
	background: transparent url(../images/hover.png) no-repeat scroll center;
	position: absolute;
	top: 45px;
	text-align: center;
	padding: 20px 12px 0px 10px;
	font-style: normal;
	z-index: 3000;
	opacity:.9;
    display:none;
}
#em1,#em2 {	left: -10px; width: 180px;
height: 65px;}
#em3{	left: 0px;width: 200px; 
height: 75px; }

#menubar  dt {
	background: #e9e7e7 url(../images/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;

	font: bold 11pt Arial;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor:  pointer;
}
#menubar  dt.active {
background-position: right 5px;
}
#menubar  dt.hover {
	background-color: #e3e2e2;
}

a {
	color: black;
	}
	

dl,dd { width: auto; padding-right:0px; margin: 0px 0px 0px 0px; } 
	/*provat amb 290 i bastant bé   */

dd{    /*border: 2px solid #3078c0;*/
    background-color:#aeb5bc;

    }
.layerControl table {
    position:relative;
    left:0px;
	font-size: 10px;
	border-spacing: 0;
	border-collapse: collapse;
    width:40%;
	} 
th {
	padding: 4px 6px;
}  
 .layerControl TD {
  padding: 0px;
  font: 80% Verdana, geneva, arial, sans-serif;
}

#header .left {
	 margin-top: 20px; 
	}
#header .right {
	margin-top: 20px;
	}	
#middle {
	left: 0px;
	top:0px;
	width: 100%;
	display: inline;
	}
#menubar {
	display: block;
	position: absolute;
	left: 1px;
	top: 5px;
	bottom: 60px;
	width: 230px;
	margin:0px,10px,0px,10px;
	/*provat amb 230 (abans) , 290 i bastant bé*/
	font-family: Verdana, geneva, arial, sans-serif;
	font-size: 8pt;

	background-color: #CCCCCC;
	height: 540px; 
	}
	
#menubar a {
	font-weight: normal;
	color: black;

	}
	
#content a {
		color: black;
		}


UL.tabNavigation {
			text-align: left; /* set to left, right or center */
			margin: 1em 0 1em 0; /* set margins as desired */
			font: bold 13px verdana, arial, sans-serif; /* set font as desired */
			border-bottom: 1px,1px,1px,0px solid #00C702; /* set border COLOR as desired */
			list-style-type: none;
			padding: 0px 1px 0px 1px; /* THIRD number must change with respect to padding-top (X) below */
            background-color:transparent;
/*
		    list-style: none;
		    margin: 0;
		    padding: 0; */
		}
       	body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
		border-bottom: 1px solid #fff; /* set border color to page background color */
		background-color: #fff; /* set background color to match above border color */
		}


ul.tabNavigation li a { /* settings for all tab links */
padding: 1px 1px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */

border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;

}

.tabNavigation .selected  { /* settings for selected tab */
	border: 2px solid #125633; /* set border color to page background color */
	background-color: #3f9d57; /* set background color to match above border color */
	}
/*
ul.tabNavigation .metadata {
		    background-color: #b4bfca;
			border: 1px;
			margin: 2px;
			padding: 2px;
		}
		*/

ul.tabNavigation .metadata  a{
		color: black;
		 font-family: Verdana, geneva, arial, sans-serif;
	    font-size: 11pt;
		}
.Layers  {
			 background-color: #a1b0bf;
	 	
		}

.legend {
		    background-color: #a1b0bf;
		}
.metadata

{
background-color: #a1b0bf;
}

/* TABLE RELATED  */
/*LINKS "add to map */
table.layerControl tbody td, tbody th {
	background-color: #E7F29B;
	padding: 2px;
}


/* th= table header Cabezera tabla (ex: listado capabilities) */
th {
	background: #ddd;
	color: #666;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-left: 2px solid #dadada;
	border-top: 2px solid #dadada;
	text-align: left;
	font-weight: bold;
}
#workspace {
    z-index: 1050;  
    
}
#workspace a {
color: #3d546c;
    z-index: 1060;  
}
#wrapper {
    z-index: 1060;  
}
#container {
    z-index: 1060;  
}
#container a {
    z-index: 1060;  
}
#workspace2 a {
    z-index: 1060;  
}
table.resultat {
	background-color: #FFFFFF;
	border: none;
	color: #006633;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	width: 35px;
}
table.layerControl {
	background-color: #FFFFFF;
	color: #495E49;
	border: 1px solid #6c6;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
}
td.left {
align: top;
color: #495E49;
width: 5px;
}

#menubar ul
{
    margin:2px;

}
#menubar li {
        margin:2px;
    	padding:2px;
}

#menubar .tabNavigation li {
/*	background:  #3c78b5; */
	margin: 0px;
	padding: 0px;
	display: inline;
	}
/*únic li que no ha de sortir tabs (inline) */
#menubar #context li {
    	display: block;
    	}
#menubar .Layers,.metadata,.legend  ul {			border: 1px solid ;
}
#menubar .Layers   li {
	background-color:transparent;

	/*margin: 1px; 
	padding: 1px; */
	display: block;
	}
#menubar .Layers   li  a {
   color: black;
   }

#menubar dt a:hover,a.selected
	{	
	font-weight: bold;
}	
#menubar dt:hover,.selected	
dt a {
	color:black;
	background-color: #e3e2e2;
}
dd a {
	color: black;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

ul {
	list-style: none;
	padding: 0px;

}
/*gris?? */
.classif ul {
	background-color: transparent;
}
/* Hides from IE-mac \*/
* html #mainbody {height: 1%;position:relative;width:80%;} 
/* End hide from IE-mac */

#right{
		
		position: relative;
		top:0px;
		left:240px;
		display: block;
       
		margin-left: 0%;
		right: 0px;
/*afegegit 21 maig */
	 width: 0px;
		margin: 0px;

		z-index: 1000;		
		
		
}
#edit_logo
{
    position:relative;
    top:-30px;
    left: 850px;
    padding-left:0px;
}

//SORTIRA EL CURSOR EN FORMA DE CREUETA
.jqmdTR {z-index: 1060;cursor: move;} 
a {cursor:pointer;}
div.jqmdTL {
z-index: 1050;  
}
div.jqmDialog {
    display: none;
    background-color:#D7DBDF;
    opacity:1;
    position: fixed;
    top: 17%;
    left: 80%;
    color: #528c00;
    margin-left: -200px;
    width: 380px;
   z-index: 30000;  
/*     padding-left:10px; */
     border: 1px solid black;
}
.jqmdTR > form 
{
padding-left:10px;
}
.jqmdTR form > select 
{
margin-left:20px;
}
*html div.jqmDialog {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
   z-index: 1050;  
}
.jqmDialog a
{
   z-index: 1050;  
	color: blue;
	font-weight: bold;
	font-family:verdana,tahoma,helvetica;
    font-size: 7pt;
}
/* [[[ Title / Top Classes ]]] */
div.jqmdTC { 
    	 z-index: 20;
  background: #d5ff84 repeat-x 0px -82px; 
  color: #528c00;
  padding: 7px 22px 5px 5px;
  font-family:verdana,tahoma,helvetica;
  font-weight: bold;
      font-size: 7pt;
  * zoom: 1;
}
input.close_win {
	
    position: relative;
top:-10px;
left:195px;
    padding: 3px;
   margin:0px;
      height: 15px;
       width: 15px;
       opacity:1;
}


input.jqmdX {
  position: absolute;
  right: 7px;
  top: 4px;
  padding: 0 0 0 19px;
  height:19px;
  width: 0px;

  overflow: hidden;
}
input.jqmdXFocus {background-position: bottom left; outline: none; cursor:pointer;}
/*

input.jqmdX {
  position: absolute;
  right: 7px;
  top: 4px;
  padding: 0 0 0 19px;
  background: url(http://edit.africamuseum.be/edit_wp5/edit_geo/prototype/JQ_win_files/close.gif) no-repeat top left;
  overflow: hidden;
}
*/
input.jqmdXFocus {background-position: bottom left; outline: none;}
div.jqmDialog input:focus, div.jqmDialog input.iefocus { background-color: #eaffc3; }
#content th,
#content td , #workspace2 th,#workspace2 td{
  padding: 3px 6px;
  font-weight: bold;
  font-family: Arial, verdana; 
  font-size: 11pt;
}

.search
{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding:3px;
     border: 2px solid #a00;
     color: #a00;

}


